body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background-color: white;
  max-width: fit-content;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
.search-form-input {
  padding: 15px 20px;
  width: 80%;
  background-color: #f9f7fe;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.search-form-button {
  background: #885df1;
  color: white;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 5px;
}
header {
  padding-bottom: 30px;
}
h1 {
  font-size: 38px;
  margin: 0;
}
p {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
  margin-top: 0 16px;
  line-height: 24px;
}
span {
  color: #f65282;
}
